<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <!--Bootstrap CSS Section-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--JQuery Section-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!--External CSS Sections-->
    <link rel="stylesheet" href="css/login_page.css">
</head>
<body>
    <div class = "container">
        <div class = "d-flex justify-content-center h-100">
            <div class = "login-zone">
                <div class = "header">
                    <h4> Welcome to Photon! </h4>
                </div>
                <div class = "body">
                    <form>
                    <h5> Username </h5>
                    <input type = "text" class = "form-control" placeholder="Username">
                    <h5> Password </h5>
                    <input type = "text" class = "form-control" placeholder="Password">
                    <input type = "submit" value = "Login" class = "btn float-right login_btn">
                    </form>
                </div>
                <div class = "footer">
                        <div class="d-flex justify-content-center links">
                                Don't have an account?&nbsp;&nbsp;<a href="#">Sign Up</a>
                        </div>
                        <div class="d-flex justify-content-center">
                                <a href="#">Forgot your password?</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>