<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page</title>
    <!--Bootstrap CSS Section-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--External CSS Sections-->
    <link rel="stylesheet" href="css/login_page.css">
</head>

<body>
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="login-zone">
                <div class="header">
                    <h4>Welcome to Photon Messenger!</h4>
                </div>
                <div class="body">
                    <form action="./users/register" method="post">
                        <h5> Username </h5>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                        <h5> Password </h5>
                        <input type="text" class="form-control" name="password" placeholder="Password">
                        <input type="submit" value="Sign in" class="btn float-right login_btn">
                    </form>
                </div>
                <div class="footer">
                    <div class="d-flex justify-content-center links">
                        Don't have an account?&nbsp;&nbsp;<a href="#">Sign Up</a>
                    </div>
                    <div class="d-flex justify-content-center">
                        <a href="#">Forgot your password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>