.login-zone{
        height: 370px;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
}
.body{
    height: 200px;
    width: 250px;
    margin-left: 70px;
}

.btn{
    margin-top: 10px;
    background-color: black;
    color: white;
}
.header{
    padding-left : 90px;
    padding-bottom: 10px;
}

.container{
    padding-left : 0px;
}